.detail{
  background-color: #A41917;
  font-family: "Poppins", serif;
  color: #F9F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  padding: 20px;
  margin-top: 15px;
  font-size: 1.3rem;
  &_link{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    &-back{
      text-decoration: none;
      color: #F9F7F7;
    }
  }
    
}

.article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  &_img{
    width: auto;
    height: auto;
    &-img{
      width: 170px;
    }
  }
  &_data{
    width: auto;
    height: auto;
    padding: 10px;  
  }
}
.detail_img-house{
  width: 30px;
}

.article_notFound-img{
  display: flex;
  flex-direction:column;
  padding-bottom: 15px;
  &_notFound-img{
    width: 170px;
  }
}
