.list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  padding: 5px 10px;
}

.notExits{
  font-family: "Poppins", serif;
  color: #F9F7F7;
  font-size: 1.6rem;
}